<div class="row">
    <div class="col-md-5 d-flex align-items-stretch grid-margin">
      <div class="row flex-grow">
        <div class="col-12 grid-margin">
          <div class="card">
              <div class="card-body">
                  <h4>Custom Items</h4>
  
                  <form [hidden]="!this.newFolderDialog" class="forms-sample ml-3">
  
                      <div class="row">
                
                          <div class="col-md-10 form-group">
                            <label for="inputItemName">Create a folder:</label>
                            <div class="row">
                                <input #folder_name type="text" class="form-control col-8" id="inputItemName" placeholder="">
                                <div class="col-1 mr-2">
                                    <button (click)="addNewFolder(folder_name.value)" class="btn btn-success btn-sm"><i class="fa fa-check"></i></button>
                                </div>
                                <div class="col-1 ml-3">
                                    <button (click)="cancelNewFolder()" class="btn btn-default btn-sm"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            
                          </div>
                
            
                      </div>
                    </form>
  
                  
                </div>
            <div class="card-body">
              <h4>Default Items</h4>
              <ul style="list-style:none;">
                <li><i class="fa fa-folder mr-2"></i><span>Items<i style="cursor:pointer" (click)="this.createNewFolder('default', 'item', null)" class="fa fa-plus ml-2"></i></span>
                  <p [hidden]="!this.defaultRefresh">Loading...</p>
                  <mat-tree [hidden]="this.defaultRefresh" [dataSource]="nestedDefaultItemsDataSource" [treeControl]="nestedDefaultItemsTreeControl" class="example-tree">
                    <mat-tree-node *matTreeNodeDef="let node">
                          <li class="mat-tree-node">
                              <button mat-icon-button disabled></button>
                              <i class="fa fa-cube mr-2"></i>{{node.name}}<i style="cursor: pointer;" class="fa fa-trash ml-2"(click)="delete_item(node._id)"></i>
                          </li>
  
                          
                    </mat-tree-node>
                
                    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
                        <li>
                            <div ngbDropdown>
                            <div class="mat-tree-node">
                                <button mat-icon-button matTreeNodeToggle>
                                    <mat-icon class="mat-icon-rtl-mirror">
                                      {{nestedDefaultItemsTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                    </mat-icon>
                                </button>
                                <i class="fa fa-folder mr-2"></i>{{node.name}}
                                <i style="cursor: pointer;" class="fa fa-pencil ml-2" id="dropdownMenuButton1" ngbDropdownToggle></i>
                                  
                                
                            </div>
                            <ul [class.example-tree-invisible]="!nestedDefaultItemsTreeControl.isExpanded(node)">
                                <ng-container matTreeNodeOutlet></ng-container>
                            </ul>
  
                            <div style="z-index: 999;" ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                                <span (click)="this.createNewFolder('default', 'item', node._id)" class="dropdown-item" style="cursor: pointer;"><i class="fa fa-folder mr-2"></i>New Folder</span>
                                <span (click)="createNewItem('item', node._id, null)" class="dropdown-item" style="cursor: pointer;"><i class="fa fa-cube mr-2"></i>New Item</span>
                                <div class="dropdown-divider"></div>
                                <span (click)="delete_folder(node._id)" class="dropdown-item" style="cursor: pointer;"><i class="fa fa-trash mr-2" ></i>Delete</span>
                              </div>
  
                          </div>
                        </li>
                    </mat-nested-tree-node>
                </mat-tree>
                </li>
              </ul>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="col-md-7 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <section [hidden]="this.itemStage>0" class="h-100">
              <header class="container h-100">
                <div class="d-flex align-items-center justify-content-center h-100">
                  <div class="d-flex flex-column">
                    <h1 class="display-1 align-self-center p-2"><i class="fa fa-cubes"></i></h1>
                    <h4 class="display-6 align-self-center p-2">Please select an item from the left.</h4>
  
                  </div>
                </div>
              </header>
            </section>
          <section [hidden]="this.itemStage<1">
  
          <h4 class="card-title">Item Detail</h4>
          <p class="card-description">
            Basic Information
          </p>
          <form class="forms-sample">
  
            <div class="row">
      
                <div class="col-md-4 form-group">
                  <label for="inputItemName">Item Name:</label>
                  <input #itemName type="text" class="form-control" id="inputItemName" placeholder="">
                </div>
                <div class="col-md-4 form-group">
                  <label for="inputItemId">Item ID:</label>
                  <input #itemId type="email" class="form-control" id="inputItemId" placeholder="">
                </div>
                <div class="col-md-4 form-group">
                        <label class="col-form-label">Unit of measure:</label>
                        <select #itemUnit class="form-control">
                            <option hidden disabled selected value></option>
                            <option>sq ft</option>
                            <option>lin ft</option>
                            <option>cu yd</option>
                            <option>m</option>
                            <option>sq m</option>
                            <option>cu m</option>
                            <option>each</option>
                        </select>
                </div>
  
            </div>
            
            <div class="form-group">
              <label for="textareaDescription">Description</label>
              <textarea #itemDescription class="form-control" id="textareaDescription" style="resize: vertical"></textarea>
            </div>
  
            <div class="row m-3 flex-grow">
  
              <button [disabled]="this.itemInProgress" (click)="addItem(itemName.value, itemId.value, itemUnit.value, itemDescription.value)" [hidden]="this.itemStage>1" class="btn btn-success btn-sm m-1 col-sm-3 col-md-3 col-lg-2">Add<i class="mdi mdi-plus"></i></button>
              <button [hidden]="this.itemStage<2" class="btn btn-success btn-sm m-1 col-sm-3 col-md-3 col-lg-2">Save</button>
              <button [hidden]="this.itemStage<2" class="btn btn-primary btn-sm m-1 col-sm-3 col-md-3 col-lg-2">Save as</button>
              <button (click)="cancelItem()" class="btn btn-light m-1 btn-sm col-sm-3 col-md-3 col-lg-2">Cancel</button>
              <button [hidden]="this.itemStage<2" class="btn btn-danger btn-sm m-1 col-sm-3 col-md-3 col-lg-2">Delete</button>
  
            </div>
          </form>
  
          
        </section> 
  
        </div>
      </div>
    </div>
    <div [hidden]="this.itemStage<2" class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
            <div class="row pt-3">
                <p class="card-description col-7">
                    Required Items
                </p>
                <div class="col-5 align-self-center">
                    <button type="submit" class="btn btn-success btn-sm pull-right">Add Item<i class="mdi mdi-plus"></i></button>
                </div>
                
            </div>
  
              <div class="table-responsive pt-2">
                  <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Item Name</th>
                          <th>Unit Of Measure</th>
                          <th>Purchase Unit</th>
                          <th>Formula</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Sheet, Epoxy, 4" x 4" W2.0 x W2.0</td>
                          <td>sq ft</td>
                          <td>7' x 20' Sheets</td>
                          <td>119 sq ft = 1 7' x 20' Sheets</td>
                          <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                        </tr>
                        <tr>
                            <td style="white-space: normal">Sheet, Epoxy, 4" xasdasdasdasdasdasasdas 4" W2.0 x W2.0</td>
                            <td>sq ft</td>
                            <td>7' x 20' Sheets</td>
                            <td>119 sq ft = 1 7' x 20' Sheets</td>
                            <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                          </tr>
                      </tbody>
                    </table>
              </div>
            
        </div>
      </div>
    </div>
  
    <!-- ADD GROUP -->
    <div [hidden]="this.itemStage<2" class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
            <div class="row pt-3">
                <p class="card-description col-7">
                    Item Groups
                </p>
                <div class="col-5 align-self-center">
                    <button type="submit" class="btn btn-success btn-sm pull-right">Add Group<i class="mdi mdi-plus"></i></button>
                </div>
                
            </div>
  
  
            <form class="forms-sample ml-3">
  
              <div class="row">
        
                  <div class="col-md-6 form-group">
                    <label for="inputItemName">Name:</label>
                    <div class="row">
                        <input type="text" class="form-control col-6" id="inputItemName" placeholder="">
                        <div class="col-1 mr-2">
                            <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-check"></i></button>
                        </div>
                        <div class="col-1 ml-1">
                            <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    
                  </div>
        
    
              </div>
            </form>
  
  
              <div class="table-responsive pt-2 mb-3">
                  <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>[item name]</th>
                          <th>Unit Of Measure</th>
                          <th>Purchase Unit</th>
                          <th>Formula</th>
                          <th></th>
                          <th><button class="btn btn-danger"><i class="fa fa-trash"></i></button></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Sheet, Epoxy, 4" x 4" W2.0 x W2.0</td>
                          <td>sq ft</td>
                          <td>7' x 20' Sheets</td>
                          <td>119 sq ft = 1 7' x 20' Sheets</td>
                          <td><button class="btn btn-default btn-xs"><i class="fa fa-arrow-down"></i></button><button class="btn btn-default btn-xs ml-2"><i class="fa fa-arrow-up"></i></button></td>
                          <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                        </tr>
                        <td><button class="btn btn-success btn-sm"><i class="mdi mdi-plus"></i> Add</button></td>
                      </tbody>
                    </table>
              </div>
  
              <div class="table-responsive pt-2">
                  <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>[item name]</th>
                          <th>Unit Of Measure</th>
                          <th>Purchase Unit</th>
                          <th>Formula</th>
                          <th><button class="btn btn-danger"><i class="fa fa-trash"></i></button></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Sheet, Epoxy, 4" x 4" W2.0 x W2.0</td>
                          <td>sq ft</td>
                          <td>7' x 20' Sheets</td>
                          <td>119 sq ft = 1 7' x 20' Sheets</td>
                          <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                        </tr>
                        <td><button class="btn btn-success btn-sm"><i class="mdi mdi-plus"></i> Add</button></td>
                      </tbody>
                    </table>
              </div>
            
        </div>
      </div>
    </div>
  </div>
  
  
  <div [hidden]="!this.deleteConfirm" class="card card-inverse-warning bg-white mb-5 div_centered">
      <div class="card-body">
        <p class="mb-4">
          You're about to delete something. It can't be undone.
        </p>
        <button [disabled]="this.deleteInProgress" (click)="this.confirm_delete()" class="btn btn-warning mr-2">Delete</button>
        <button (click)="this.cancel_delete()" class="btn btn-light">Cancel</button>
      </div>
    </div>