<div class="row">
    <div class="col-md-5 d-flex align-items-stretch grid-margin">
      <div class="row flex-grow">
        <div class="col-12 grid-margin">
          <div class="card">
              <div class="card-body">
                  <h4>Custom Items</h4>
  
                  <form [hidden]="!this.newFolderDialog" class="forms-sample ml-3">
  
                      <div class="row">
                
                          <div class="col-md-10 form-group">
                            <label for="inputItemName">Create a folder:</label>
                            <div class="row">
                                <input #folder_name type="text" class="form-control col-8" id="inputItemName" placeholder="">
                                <div class="col-1 mr-2">
                                    <button (click)="addNewFolder(folder_name.value)" class="btn btn-success btn-sm"><i class="fa fa-check"></i></button>
                                </div>
                                <div class="col-1 ml-3">
                                    <button (click)="cancelNewFolder()" class="btn btn-default btn-sm"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            
                          </div>
                
            
                      </div>
                    </form>

                    <ul style="list-style:none;">
                        <li><i class="fa fa-folder mr-2"></i><span>Items<i style="cursor:pointer" (click)="this.createNewFolder('custom', 'item', null)" class="fa fa-plus ml-2"></i></span>
                          <div [hidden]="!this.defaultRefresh" class="fa-3x"><i class="fa fa-cog fa-spin"></i></div>
                          <mat-tree [hidden]="this.customRefresh" [dataSource]="nestedCustomItemsDataSource" [treeControl]="nestedCustomItemsTreeControl" class="example-tree">
                            <mat-tree-node *matTreeNodeDef="let node">
                                  <li class="mat-tree-node">
                                      <button mat-icon-button disabled></button>
                                      <span style="cursor: pointer;" (click)="openItem(node._id)"><i class="fa fa-cube mr-2"></i>{{node.name}}</span>
                                  </li>
          
                                  
                            </mat-tree-node>
                        
                            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasCustomNestedChild">
                                <li>
                                    <div ngbDropdown>
                                    <div class="mat-tree-node">
                                        <button mat-icon-button matTreeNodeToggle>
                                            <mat-icon class="mat-icon-rtl-mirror">
                                              {{nestedCustomItemsTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                            </mat-icon>
                                        </button>
                                        <i class="fa fa-folder mr-2"></i>{{node.name}}
                                        <i style="cursor: pointer;" class="fa fa-pencil ml-2" id="dropdownMenuButton1" ngbDropdownToggle></i>
                                          
                                        
                                    </div>
                                    <ul [class.example-tree-invisible]="!nestedCustomItemsTreeControl.isExpanded(node)">
                                        <ng-container matTreeNodeOutlet></ng-container>
                                    </ul>
          
                                    <div style="z-index: 999;" ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                                        <span (click)="this.createNewFolder('custom', 'item', node._id)" class="dropdown-item" style="cursor: pointer;"><i class="fa fa-folder mr-2"></i>New Folder</span>
                                        <span (click)="createNewItem('item', node._id, this.userId)" class="dropdown-item" style="cursor: pointer;"><i class="fa fa-cube mr-2"></i>New Item</span>
                                        <div class="dropdown-divider"></div>
                                        <span (click)="delete_folder(node._id)" class="dropdown-item" style="cursor: pointer;"><i class="fa fa-trash mr-2" ></i>Delete</span>
                                      </div>
          
                                  </div>
                                </li>
                            </mat-nested-tree-node>
                        </mat-tree>
                        </li>
                      </ul>
  
                  
                </div>
            <div class="card-body">
              <h4>Default Items</h4>
              <ul style="list-style:none;">
                <li><i class="fa fa-folder mr-2"></i><span>Items<i [hidden]="!this.isAdmin" style="cursor:pointer" (click)="this.createNewFolder('default', 'item', null)" class="fa fa-plus ml-2"></i></span>
                  <div [hidden]="!this.defaultRefresh" class="fa-3x"><i class="fa fa-cog fa-spin"></i></div>
                  <mat-tree [hidden]="this.defaultRefresh" [dataSource]="nestedDefaultItemsDataSource" [treeControl]="nestedDefaultItemsTreeControl" class="example-tree">
                    <mat-tree-node *matTreeNodeDef="let node">
                          <li class="mat-tree-node">
                              <button mat-icon-button disabled></button>
                              <span style="cursor: pointer;" (click)="openItem(node._id)"><i class="fa fa-cube mr-2"></i>{{node.name}}</span>
                          </li>
  
                          
                    </mat-tree-node>
                
                    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
                        <li>
                            <div ngbDropdown>
                            <div class="mat-tree-node">
                                <button mat-icon-button matTreeNodeToggle>
                                    <mat-icon class="mat-icon-rtl-mirror">
                                      {{nestedDefaultItemsTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                    </mat-icon>
                                </button>
                                <i class="fa fa-folder mr-2"></i>{{node.name}}
                                <i [hidden]="!this.isAdmin" style="cursor: pointer;" class="fa fa-pencil ml-2" id="dropdownMenuButton1" ngbDropdownToggle></i>
                                  
                                
                            </div>
                            <ul [class.example-tree-invisible]="!nestedDefaultItemsTreeControl.isExpanded(node)">
                                <ng-container matTreeNodeOutlet></ng-container>
                            </ul>
  
                            <div style="z-index: 999;" ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                                <span (click)="this.createNewFolder('default', 'item', node._id)" class="dropdown-item" style="cursor: pointer;"><i class="fa fa-folder mr-2"></i>New Folder</span>
                                <span (click)="createNewItem('item', node._id, null)" class="dropdown-item" style="cursor: pointer;"><i class="fa fa-cube mr-2"></i>New Item</span>
                                <div class="dropdown-divider"></div>
                                <span (click)="delete_folder(node._id)" class="dropdown-item" style="cursor: pointer;"><i class="fa fa-trash mr-2" ></i>Delete</span>
                              </div>
  
                          </div>
                        </li>
                    </mat-nested-tree-node>
                </mat-tree>
                </li>
              </ul>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="col-md-7 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <section [hidden]="this.itemStage>0" class="h-100">
              <header class="container h-100">
                <div class="d-flex align-items-center justify-content-center h-100">
                  <div class="d-flex flex-column">
                    <h1 class="display-1 align-self-center p-2"><i class="fa fa-cubes"></i></h1>
                    <h4 [hidden]="this.openingItem" class="display-6 align-self-center p-2">Please select an item from the left.</h4>
                    <h4 [hidden]="!this.openingItem" class="display-6 align-self-center p-2"><div class="fa-6x"><i class="fa fa-cog fa-spin"></i></div></h4>
  
                  </div>
                </div>
              </header>
            </section>
          <section [hidden]="this.itemStage<1">
  
          <h4 class="card-title">Item Detail</h4>
          <p class="card-description">
            Basic Information
          </p>
          <form class="forms-sample">
  
            <div class="row">
      
                <div class="col-md-4 form-group">
                  <label for="inputItemName">Item Name:</label>
                  <input #itemName type="text" class="form-control" id="inputItemName" placeholder="">
                </div>
                <div class="col-md-4 form-group">
                  <label for="inputItemId">Purchase Unit:</label>
                  <input #purchaseUnit type="text" [(ngModel)]="purchaseUnitValue" name="pUnit" class="form-control" id="inputItemId" placeholder="">
                </div>
                <div class="col-md-4 form-group">
                        <label class="col-form-label">Unit of measure:</label>
                        <select #itemUnit class="form-control" [(ngModel)]="itemUnitValue" name="iUnit">
                            <option hidden disabled selected value></option>
                            <option>sq ft</option>
                            <option>lin ft</option>
                            <option>cu yd</option>
                            <option>m</option>
                            <option>sq m</option>
                            <option>cu m</option>
                            <option>each</option>
                        </select>
                </div>
  
            </div>
            
            <p class="card-description">
              Coverage Rate
            </p>

            <div class="row">
            <div class="col-md-4 form-group mb-4">
              <label for="inputItemName">How many {{this.itemUnitValue}} per {{this.purchaseUnitValue}}?</label>
              <input #coverageRate1 type="text" class="form-control" id="inputItemName" placeholder="">
            </div>

            <div class="col-md-2 form-group mt-4 pt-3">
              <p >{{itemUnit.value}} = </p>
            </div>

            <div class="col-md-4 form-group  mt-4 pt-1">
              <input #coverageRate2 type="email" class="form-control" id="inputItemId" placeholder="">
            </div>
            <div class="col-md-2 form-group  mt-4 pt-3">
              <p>{{this.purchaseUnitValue}}</p>
            </div>

          </div>


          <div class="row">
      
              <div class="col-md-4 form-group">
                  <label class="col-form-label">Cost Type:</label>
                  <select #costType class="form-control">
                      <option hidden disabled selected value></option>
                      <option>Equipment</option>
                      <option>Labor</option>
                      <option>Material</option>
                      <option>Subcontract</option>
                  </select>
              </div>

              <div class="col-md-4 form-group">
                <div class="row">
                  <div class="col-6">
                      <label for="inputItemName">Unit Cost:</label>
                      <input #unitCost type="text" class="form-control" id="inputItemName" placeholder="">
                  </div>
                  <div class="col-6 mt-4 pt-3">
                      <p>/{{this.purchaseUnitValue}}</p>
                  </div>
                   
                </div>
              </div>
              <div class="col-md-4 form-group">
                <label for="inputItemId">Accounting Code:</label>
                <input #accountingCode type="text" class="form-control" id="inputItemId" placeholder="">
              </div>

          </div>
  
            <div class="row m-3 flex-grow">
  
              <button [disabled]="this.itemInProgress || this.itemStage>1" (click)="addItem()" [hidden]="this.itemStage>1" class="btn btn-success btn-sm m-1 col-sm-3 col-md-3 col-lg-2">Add<i class="mdi mdi-plus"></i></button>
              <button (click)="saveItem()" [hidden]="this.itemStage<2" [disabled]="(this.isOpenedItemDefault && !this.isAdmin) || this.saveInProgress" class="btn btn-success btn-sm m-1 col-sm-3 col-md-3 col-lg-2">Save</button>
              <button [hidden]="this.itemStage<2" class="btn btn-primary btn-sm m-1 col-sm-3 col-md-3 col-lg-2">Save as</button>
              <button (click)="cancelItem()" class="btn btn-light m-1 btn-sm col-sm-3 col-md-3 col-lg-2">Cancel</button>
              <button (click)="delete_item(this.openedItem._id)" [hidden]="this.itemStage<2"[disabled]="(this.isOpenedItemDefault && !this.isAdmin)" class="btn btn-danger btn-sm m-1 col-sm-3 col-md-3 col-lg-2">Delete</button>
  
            </div>
          </form>
  
          
        </section> 
  
        </div>
      </div>
    </div>
    
  </div>
  
  
  <div [hidden]="!this.deleteConfirm" class="card card-inverse-warning bg-white mb-5 div_centered">
      <div class="card-body">
        <p class="mb-4">
          You're about to delete something. It can't be undone.
        </p>
        <button [disabled]="this.deleteInProgress" (click)="this.confirm_delete()" class="btn btn-warning mr-2">Delete</button>
        <button (click)="this.cancel_delete()" class="btn btn-light">Cancel</button>
      </div>
    </div>